{# templates/arbreGenealogique_genealogique.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    {{dump(arbreGenealogique)}}
    <h1>arbre généalogique de {{ user.nom }} {{ user.prenom }}</h1>

    <div class="arbreGenealogique">
        {% for user in arbreGenealogique %}
            {% if loop.first %}
                <div class="user">
                    {{ user.nom }} {{ user.prenom }}
                </div>
            {% else %}
                {% if loop.index == 2 %}
                    <div class="parents">
                        {# <div class="parent">
                            {{ user.nom }} {{ user.prenom }}
                        </div> #}
                        <div class="parent">
                            {{ arbreGenealogique[1].nom }} {{ arbreGenealogique[1].prenom }}
                        </div>
                    </div>
                {% elseif loop.index > 2 %}
                    <div class="ancetres">
                        <div class="parent">
                            {{ user.nom }} {{ user.prenom }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
