<!DOCTYPE HTML>
<html>
<head>
    <title>Afficher gedcom</title>
    <meta charset="utf-8">
</head>
<body>
<div id="page">
    <header>
        <h2>Affichage arbre généalogique</h2>
        <p> Ici vous vérez l'arbre généalogique que vous avez importé. </p>
        </br>
    </header>

    <table>
        <tr><th>Id</th><th>Prenom</th><th>Nom de famille</th><th>Sexe</th><th>Naissance</th><th>Mort</th></tr>
        {% for firstName in firstNames%}
            <tr><td>{{ id[loop.index0] }}</td><td>{{ firstName }}</td><td>{{ lastNames[loop.index0] }}</td><td>{{ sexe[loop.index0] }}</td>
                <td>{{ naissance[loop.index0] }}</td><td>{{ mort[loop.index0] }}</td></tr>
        {% endfor %}
    </table>



</div>
</body>
</html>