{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ personne.nom }} {{ personne.prenom }}</h1>

    <p>Date de naissance : {{ personne.dateNaissance|date('d/m/Y') }}</p>

    {% if personne.dateDeces is not null %}
        <p>Date de décès : {{ personne.dateDeces|date('d/m/Y') }}</p>
    {% endif %}

    <h2>Ancêtres</h2>
<ul>
    <li>
        {{ personne.nom }} {{ personne.prenom }}
        {% if ancestors is not empty %}
            <ul>
                {% for ancestor in ancestors %}
                    <li>
                        {{ ancestor.nom }} {{ ancestor.prenom }}
                        {% if loop.index == 1 %}
                            <ul>
                                {% for parent in ancestors %}
                                    {% if parent.id == ancestor.id %}
                                        <li>
                                            {{ parent.nom }} {{ parent.prenom }}
                                            {% if loop.index == 1 %}
                                                <ul>
                                                    {% for grandparent in ancestors %}
                                                        {% if grandparent.id == parent.id %}
                                                            <li>
                                                                {{ grandparent.nom }} {{ grandparent.prenom }}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
</ul>


{% endblock %}
