{% extends 'base.html.twig' %}
{% block content %}
    <h1>{{ personne.nom }} {{ personne.prenom }}</h1>

    <p>Date de naissance : {{ personne.dateNaissance|date('d/m/Y') }}</p>

    {% if personne.dateDeces is not null %}
        <p>Date de décès : {{ personne.dateDeces|date('d/m/Y') }}</p>
    {% endif %}

	<h2>Conjoint(e)</h2>

	{% if conjoint != false %}
		<p><strong>{{ conjoint.nom }} {{ conjoint.prenom }}, </strong> Date de naissance: {{ conjoint.date_naissance|date('d/m/Y') }} 
		{% if personne.dateDeces is not null %}
			<p>Date de décès : {{ conjoint.dateDeces|date('d/m/Y') }}</p>
		{% endif %}		
		</p>
	{% endif %}

	{% if conjoint is null %}
		<p>Pas de conjoint(e) trouvé(e)</p>
	{% endif %}

	<h2>Enfant(s)</h2>
	{% if children != false %}
		<ul>
			{% if children is iterable %}
				{% for child in children %}
					<li>{{ child.nom }} {{ child.prenom }} ({{ child.sexe }})</li>
				{% endfor %}
			{% else %}
				<li>{{ children.nom }} {{ children.prenom }} ({{ children.sexe }})</li>
			{% endif %}
		</ul>
	{% endif %}
	{% if children is null %}
		<p>Pas d'enfants trouvés</p>
	{% endif %}

	<h2>Fratrie(s)</h2>
	{% if siblings != false %}
		<ul>
			{% if siblings is iterable %}
				{% for sibling in siblings %}
					<li>{{ sibling.nom }} {{ sibling.prenom }} ({{ sibling.sexe }})</li>
				{% endfor %}
			{% else %}
				<li>{{ siblings.nom }} {{ siblings.prenom }} ({{ siblings.sexe }})</li>
			{% endif %}
		</ul>
	{% endif %}

	{% if siblings is null %}
		<p>Pas de fratries trouvés</p>
	{% endif %}

    <h2>Ancêtres</h2>

	<ul>
		{# Fonction pour afficher les parents d'une personne #}
		{% macro displayParents(ancestors, personId, originId) %}
			{% set person = ancestors|filter(v => v.id == personId)|first %}
			{# On vérifie que la personne existe bien #}
			{% if person is not null %}
				{# On affiche l'origine de l'arbre uniquement pour la personne recherchée #}
				{% if person.id == originId %}
					<li>
						{{ person.nom }} {{ person.prenom }} ({{ person.sexe }})

						<em>({{ person.date_naissance }})</em>
					</li>
				{% endif %}

				{# Récupération de l'identifiant unique du père et de ses informations (si disponible) #}
				{% set fatherId = ancestors|filter(v => v.personne2_id == person.id and v.relation_type_id == 1)|first %}
				{% set fatherData = null %}
				{% if fatherId is iterable %}
					{% set fatherData = ancestors|filter(v => v.id == fatherId.personne1_id)|first %}
				{% endif %}

				{# Récupération de l'identifiant unique de la mère et de ses informations (si disponible) #}
				{% set motherId = ancestors|filter(v => v.personne2_id == person.id and v.relation_type_id == 2)|first %}
				{% set motherData = null %}
				{% if motherId is iterable %}
					{% set motherData = ancestors|filter(v => v.id == motherId.personne1_id)|first %}
				{% endif %}

				<ul class="ancetors">
					{% if fatherData is null %}
						{% if motherData is not null %}
							<ul class="ancetors">
								<button id="addButton">Ajouter</button>

								{# Ajouter un père manquant à une personne #}
								<form class="addAncetors" data-id="{{ personId }}">
									<div>
										<h2>Père</h2>

										<label for="pere_nom">Nom:</label>
										<input type="text" id="pere_nom" name="pere_nom" value="{{person.nom}}" ><br>

										<label for="pere_prenom">Prénom:</label>
										<input type="text" id="pere_prenom" name="pere_prenom" ><br>

										<label for="pere_date_naissance">Date de naissance:</label>
										<input type="date" id="pere_date_naissance" name="pere_date_naissance"><br>

										<label for="pere_date_deces">Date de décès:</label>
										<input type="date" id="pere_date_deces" name="pere_date_deces"><br>

										<label for="pere_lieu_naissance">Lieu de naissance:</label>
										<input type="text" id="pere_lieu_naissance" name="pere_lieu_naissance"><br>
									</div>

									<input type="submit" name="addAncetors" value="Envoyer">
								</form>
							</ul>
						{% endif %}
					{% else %}
						{# Affichage des informations du père #}
						<li data-id="{{ fatherData.id }}">
							<strong>Père</strong>

							{{ fatherData.nom }} {{ fatherData.prenom }} ({{ fatherData.sexe }})

							<em>({{ fatherData.date_naissance|date('d/m/Y') }})</em>
						</li>

						{# Appel récursif de la fonction pour afficher les parents du père #}
						{{ _self.displayParents(ancestors, fatherData.id, originId) }}
					{% endif %}

					{% if motherData is null %}
						{% if fatherData is not null %}
							<ul class="ancetors">
								<button id="addButton">Ajouter</button>

								{# Ajouter une mère manquant à une personne #}
								<form class="addAncetors" data-id="{{ personId }}">
									<div>
										<h2>Mère</h2>

										<label for="mere_nom">Nom:</label>
										<input type="text" id="mere_nom" name="mere_nom" ><br>

										<label for="mere_prenom">Prénom:</label>
										<input type="text" id="mere_prenom" name="mere_prenom" ><br>

										<label for="mere_date_naissance">Date de naissance:</label>
										<input type="date" id="mere_date_naissance" name="mere_date_naissance"><br>

										<label for="mere_date_deces">Date de décès:</label>
										<input type="date" id="mere_date_deces" name="mere_date_deces"><br>

										<label for="mere_lieu_naissance">Lieu de naissance:</label>
										<input type="text" id="mere_lieu_naissance" name="mere_lieu_naissance"><br>
									</div>

									<input type="submit" name="addAncetors" value="Envoyer">
								</form>
							</ul>
						{% endif %}
					{% else %}
						{# Affichage des informations de la mère #}
						<li data-id="{{ motherData.id }}">
							<strong>Mère</strong>

							{{ motherData.nom }} {{ motherData.prenom }} ({{ motherData.sexe }})

							<em>({{ motherData.date_naissance }})</em>
						</li>

						{# Appel récursif de la fonction pour afficher les parents de la mère #}
						{{ _self.displayParents(ancestors, motherData.id, originId) }}
					{% endif %}

					{% if fatherData is null and motherData is null %}
						<button id="addButton">Ajouter</button>
						<button id="editButton">Modifier</button>

						{# Supprimer une personne #}
						<form class="deleteAncetors" data-id="{{ personId }}">
							<input type="submit" name="deleteAncetors" value="Supprimer">
						</form>

						{# Ajouter des parents à une personne #}
						<form class="addAncetors" data-id="{{ personId }}">
							<div>
								<h2>Père</h2>

								<label for="pere_nom">Nom:</label>
								<input type="text" id="pere_nom" name="pere_nom" value="{{person.nom}}" ><br>

								<label for="pere_prenom">Prénom:</label>
								<input type="text" id="pere_prenom" name="pere_prenom" ><br>

								<label for="pere_date_naissance">Date de naissance:</label>
								<input type="date" id="pere_date_naissance" name="pere_date_naissance"><br>

								<label for="pere_date_deces">Date de décès:</label>
								<input type="date" id="pere_date_deces" name="pere_date_deces"><br>

								<label for="pere_lieu_naissance">Lieu de naissance:</label>
								<input type="text" id="pere_lieu_naissance" name="pere_lieu_naissance"><br>
							</div>

							<div>
								<h2>Mère</h2>

								<label for="mere_nom">Nom:</label>
								<input type="text" id="mere_nom" name="mere_nom" ><br>

								<label for="mere_prenom">Prénom:</label>
								<input type="text" id="mere_prenom" name="mere_prenom" ><br>

								<label for="mere_date_naissance">Date de naissance:</label>
								<input type="date" id="mere_date_naissance" name="mere_date_naissance"><br>

								<label for="mere_date_deces">Date de décès:</label>
								<input type="date" id="mere_date_deces" name="mere_date_deces"><br>

								<label for="mere_lieu_naissance">Lieu de naissance:</label>
								<input type="text" id="mere_lieu_naissance" name="mere_lieu_naissance"><br>
							</div>

							<input type="submit" name="addAncetors" value="Envoyer">
						</form>

						{# Éditer une personne #}
						<form class="editAncetors" data-id="{{ personId }}">
							<div>
								<label for="nom">Nom:</label>
								<input type="text" id="nom" name="nom" value="{{person.nom}}" ><br>

								<label for="prenom">Prénom:</label>
								<input type="text" id="prenom" name="prenom" value="{{person.prenom}}" ><br>

								<label for="date_naissance">Date de naissance:</label>
								<input type="date" id="date_naissance" name="date_naissance" value="{{person.date_naissance}}"><br>

								<label for="date_deces">Date de décès:</label>
								<input type="date" id="date_deces" name="date_deces" value="{{person.date_deces}}"><br>

								<label for="lieu_naissance">Lieu de naissance:</label>
								<input type="text" id="lieu_naissance" name="lieu_naissance" value="{{person.lieu_naissance}}"><br>
							</div>

							<input type="submit" name="editAncetors" value="Modifier">
						</form>
					{% endif %}
				</ul>
			{% endif %}

						
		{% endmacro %}

		{# Appel initial de la fonction pour la personne recherchée #}
		{{ _self.displayParents(ancestors, originId, originId) }}
	</ul>

	<div id="formPartner">
		<button id="addPartnerButton">Ajouter un conjoint(e)</button>
		<form class="addPartner" method="POST" action="/addPartner">
			<div>
				<label for="nom_conjoint">Nom:</label>
				<input type="text" id="nom_conjoint" name="nom_conjoint" required><br>

				<label for="prenom">Prénom:</label>
				<input type="text" id="prenom_conjoint" name="prenom_conjoint" required><br>

				<label for="date_naissance_conjoint">Date de naissance:</label>
				<input type="date" id="date_naissance_conjoint" name="date_naissance_conjoint" ><br>

				<label for="date_deces_conjoint">Date de décès:</label>
				<input type="date" id="date_deces_conjoint" name="date_deces_conjoint"><br>

				<label for="lieu_naissance">Lieu de naissance:</label>
				<input type="text" id="lieu_naissance_conjoint" name="lieu_naissance_conjoint"><br>
			</div>

			<input type="submit" name="addPartner" value="Valider">
		</form>
	</div>
{% endblock %}